

<nav class="navbar navbar-expand-md navbar-light">
    <a href="#" style="color:white" class="navbar-brand">
        <h2><b>RDC S<img src="assets/image/logo.png" height="50px" width="50px;">lution</b></h2>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav" >
            <a routerLink="./home" style="color:white;background-color: green;height:50px" class="nav-item nav-link active">HOME</a>
            <a routerLink="./aboutus" style="color:white" class="nav-item nav-link">ABOUT US</a>
            <a href="#" routerLink="./whyus" style="color:white" class="nav-item nav-link">WHY US</a>
            <a href="#" routerLink="./partner" style="color:white" class="nav-item nav-link">PARTNER WITH US</a>
            <a href="#"  routerLink="order" style="color:white" class="nav-item nav-link">ORDER NOW</a>
            <a href="#"  routerLink="./contact" style="color:white" class="nav-item nav-link">CONTACT US</a>
          
        </div>
        <div class="navbar-nav ml-auto">
            <a href="#" style="color:white" class="nav-item nav-link">Login</a>
        </div>
    </div>
  </nav>

  <!-- Footer -->


      