
    <footer>

    <div class="container text-center text-md-left"  >
  
     
      <div class="row" >
  
        
        <div class="col-md-6 mx-auto">
  
         
          <h6 class="font-weight-bold text-uppercase mt-4 mb-4">VISSION AND MISSION</h6>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Empowering People with Education to enhance their Lives RDC Solution's mission is to connect the world to a great education. To achieve this we at RDSolution welcome partners from national and International borders.</a>
            </li>
            <li>
              <a href="#!">Phone: +91 9990715153</a>
            </li>
            <li>
              <a href="#!">Email: rdcsolution@gmail.com</a>
            </li>
            <li>
              <a href="#!">Office Timing
                24 X 7 open</a>
            </li>
          </ul>
  
        </div>
       
        <hr class="clearfix w-100 d-md-none">
  
        
  
        <hr class="clearfix w-100 d-md-none">
  
     
        <div class="col-md-3 mx-auto">
  
      
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Overview</h5>
  
          <ul class="list-unstyled">
            
            <li>
              <a href="#!">Privacy Policy</a>
            </li>
            <li>
              <a href="#!">Terms & Conditions Policy</a>
            </li>
            
          </ul>
  
        </div>
     
  
        <hr class="clearfix w-100 d-md-none">
  
      
        <div class="col-md-3 mx-auto">
  
         
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">OUR OFFICE ADDRESS</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Research Development Commettiee Solution</a>
            </li>
            <li>
              <a href="#!">E -95, Pratap  Nagar,</a>
            </li>
            <li>
              <a href="#!">Contact No.-+91 999 0715153</a>
            </li>
            <li>
              <a href="#!">E-mail Id:rdcsolution@gmail.com</a>
            </li>
          </ul>
  
        </div>
        
  
      </div>
     
  
    </div>
   
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="http://anveshikaresume.mystrikingly.com/"> Designed And Develop By @Anveshika Srivastava</a>
    </div>
  
  </footer>
