<mat-card class="example-card">
       
        <img mat-card-image src="./assets/image/1.jpg" alt="machine learinh">
        <mat-card-content>
        
                <h2>&#8377; 550 <span> <del> &#8377; 1500</del> Offer 97%</span> </h2> 
        
        </mat-card-content>
        <div class="row">
            <div class="col-sm-4 offset-sm-2">
        <mat-card-actions>
                <button mat-raised-button color="warn">Buy Now</button><br>
                <button mat-stroked-button >Add to Cart</button>
        </mat-card-actions>
    </div>
</div>
<a  class="cancel" mat-button (click)="onNoClick()">No Thanks</a>
      </mat-card>