
<body>
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                    <h4 style="position:relative;top:40px;color:#DC143C">ABOUT US</h4>
                       <p class="p1">
                            RDC Solution is proud to announce the best placed presentations to tackle all the
                            problems related to PhD registration in the world of research and development.
                            Now easily accessible and remarkable presentations to all research students who
                            seek to improve and excel in their respective subject and have a passion for
                            preparing for research interviews and research communications.
                       </p>
                       <h4 style="position:relative;top:100px;color:#DC143C">VISSION AND MISSION</h4>
                       <p class="p2">
                            Enhancing your presentations and empowering research students is the mission of
                            RDC Solution. At R D Solution we welcome national and international partners to
                            share their remarkable full research presentations to achieve this.
                       </p>
                </div>
 </div>        