<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="./assets/image/1.jpg" height="580px" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive">It's time to upload your research presentation online</h2>
        
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="./assets/image/2.jpeg" height="580px" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive">Search and Research Presentation Online</h2>
       
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="./assets/image/3.jpg"  height="578px" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive">Promote Your Work More Widely and Help Young Researchers Do Their Research</h2>
       
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="./assets/image/4.jpg"  height="578px" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive">Increase The Visibility and Discoverability of Your Work</h2>
        
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>

      <div class="view w-100">
        <div id="image">
        <img class="d-block w-100" src="./assets/image/5.jpg" height="580px" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive">Monitor How Your Presentation Performing</h2>
      </div>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="./assets/image/6.jpg" height="580px" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive">Reach The Highest Standard With RDC Solution </h2>
        
      </div>
    </mdb-carousel-item>
    <!-- <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="./assets/image/7.jpg" height="580px" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive">Ensure That Your Work Is Written In Correct English Before Presentation </h2>
       
      </div>
    </mdb-carousel-item> -->
   
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="./assets/image/8.jpeg" height="580px" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive">Commemorate Success With RDC Solution  </h2>
       
      </div>
    </mdb-carousel-item>
</mdb-carousel>
  